* {
  font-family: arial;
  font-size: 16px;
  margin: 0;
  border-radius: 10px;
}
body {
   
  background-color: #0b0a0f;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 200vh;
  /* height: 100vh; */
  padding-top: 10rem;
}
header {
  grid-column: span 4;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 2rem;
  button{
    padding-right: 2rem;
    padding-left: 2rem;
    
  }
  p {
    color: white;
    font-weight: bold;
  }
  ul {
    width: 100%;
    display: flex;
    /* margin-right: 1rem; */

     padding-left: 0;

    li{
        font-size: xx-small;
    }
  }
}
.radar{
  width: 17vmin;
  height: 17vmin;
  border-radius: 50%;
  --border-size: 3px;
  --border-angle: 0turn;
  --grid-bg: radial-gradient(
    transparent 69%,
    limegreen 69%,
    limegreen 70%,
    transparent 70%
  );
  --line-bg: transparent 50%, limegreen 50%, transparent 50.5%;
  background-image: conic-gradient(from var(--border-angle), transparent 10%, #0d0a 99%, limegreen 99.5%), linear-gradient(0deg, var(--line-bg)), linear-gradient(45deg, var(--line-bg)), linear-gradient(90deg, var(--line-bg)), linear-gradient(135deg, var(--line-bg)), var(--grid-bg), var(--grid-bg), var(--grid-bg);
  background-size: cover, cover, cover, cover, cover, 25% 25%, 50% 50%, 75% 75%;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: solid 0.5vmin limegreen;
  -webkit-animation: bg-spin 3s linear infinite;
          animation: bg-spin 3s linear infinite;
  position: relative;
  filter: drop-shadow(0px 0px 10vmin black) blur(0.5px) contrast(200%);
}
@-webkit-keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
/* .radar::after {
  content: "";
  display: block;
  position: absolute;
  top: 30%;
  left: 30%;
  width: 2vmin;
  height: 2vmin;
  background: limegreen;
  border-radius: 50%;
  -webkit-animation: move 18s steps(6) infinite;
          animation: move 18s steps(6) infinite;
} */
@-webkit-keyframes move {
  33% {
    transform: translate(25vmin, 10vmin);
  }
  66% {
    transform: translate(15vmin, 30vmin);
  }
  100% {
    transform: translate(0vmin, 0vmin);
  }
}
@keyframes move {
  33% {
    transform: translate(25vmin, 10vmin);
  }
  66% {
    transform: translate(15vmin, 30vmin);
  }
  100% {
    transform: translate(0vmin, 0vmin);
  }
}
.radar::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: solid 1vmin limegreen;
  -webkit-animation: scale 3s linear infinite;
          animation: scale 3s linear infinite;
}
@-webkit-keyframes scale {
  from {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  51%, 100% {
    opacity: 0;
  }
}
@keyframes scale {
  from {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  51%, 100% {
    opacity: 0;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
main {
  grid-column: span 4;
  /* display: grid;
    grid-template-columns: repeat(4 ,1fr); */
    fieldset{
        margin-bottom:1rem ;
    }
  .section1 {
    border-color: rgb(87, 86, 86);
    /* grid-column: span 4; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    margin-top: 2rem;
    div{
        grid-column: span 2;
    }
  }
  
  .big-number {
    display: flex;
    flex-direction: column;
  }
  .number {
    color: greenyellow;
    font-size: x-large;
  }
  .words {
    color: gray;
  }
  .section2 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border-color: black;
  }
  .bigButton {
    grid-column: span 3;
    display: flex;
    button {
      background-color: rgb(50, 50, 78);
      font-size: xx-small;
      margin-left: 0.2rem;
      margin-top: 0.5rem;
    }
  }
  .section3 {
    display: flex;
    justify-content: space-between;
    fieldset{
       width: 25%;
       border-color: rgb(0, 0, 0);
       margin: 0.2rem;
    }
    span{
        color: gray;
        font-size: x-small;
    }
    .button-span{
        display: flex;
        justify-content: space-between;
    }
    button{
        color: white;
        background-color: rgb(192, 34, 23);
        border-radius: 1px;
        font-size: xx-small;
        width: 3.5rem;
    }
    p{
        color: white;
        font-size: small;
        
    }
    .control {
  position: relative;
  display: grid;
  place-items: center;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 100px;
  animation: sync both linear reverse;
  animation-timeline: --thumb;
  animation-range: contain;
}
  }
.section4{
    display: flex;
    justify-content: space-between;
    background-color: black(221, 38, 77);
    border-color:red ;
    h3{
        color:red ;
    }
}
.section5{
    margin-top: 3rem;
    border:none ;
    nav{
        display: flex;
        justify-content: space-between;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
        a{
            
            text-decoration: none;
        }
        .question{
            border-radius: 20px;
            border-color: rgb(92, 91, 91);
            background-color: rgb(75, 73, 73);
            align-self: center;
        }
    }
}
}
