*,*::after,*::before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing:border-box;
    box-sizing: border-box;
}
body{
    font-family: arial;
    font-size: 16px;
    margin: 0;
    background: #fff;
    color: #000;
}
.radar-box-area{
 height: 100vh;
 width: 100%;
 display: flex;
 align-items: center;
}
.radar-box{
    width:calc(100vh - 50 px ) ;
    height:calc(100vh - 50 px ) ;
    position: relative;
    border-radius: 50%;
    justify-content: space-around;
}